/* PC */
@media screen and (min-width: 992px) {
  .header-menu {
    display: none;
  }
  .header-mobile {
    display: none;
  }
}
/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
  /* Header */
  .header-logo {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header .navbar {
    display: none;
  }
  .header-menu svg {
    height: 24px;
  }
  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
  }
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #fff;
    z-index: 4;
    transform: translateX(-100%);
    transition: all 0.2s linear;
  }
  .menu-checkbox:checked ~ .overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer .nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    gap: 30px 0;
  }
  .menu-drawer .nav-link {
    padding: 0;
  }
  /* Hero */
  .hero-container {
    flex-direction: column-reverse;
  }
  .hero-content {
    width: 100%;
  }
  /* Courses */
  .course {
    margin-top: 30px;
  }
  .course-item {
    width: 100%;
  }
  /* Testimonial */
  .testimonial {
    margin-top: 100px;
  }
  /* Feature 1 */
  .feature-1 {
    margin-top: 80px;
  }
  .feature-content {
    width: 100%;
  }
  /* Feature 2 */
  .feature-2 {
    margin-top: 80px;
  }
  .feature-media-2 img {
    width: 310px;
    height: 360px;
  }
  /* Blog */
  .blog {
    margin-top: 80px;
  }
  .blog-item {
    width: 100%;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Header */
  .menu-drawer {
    padding: 40px;
  }
  .menu-drawer img {
    width: 30%;
  }
  .menu-drawer .header-btn {
    display: none;
  }
  /* Hero */
  .hero-container {
    padding: 29px 0 40px;
  }
  .hero-media {
    width: 100%;
    margin-top: 30px;
  }
  .hero-list {
    display: none;
  }
  .hero-img {
    width: 100%;
  }
  .hero-engagement {
    margin-top: 20px;
    float: right;
  }
  .hero-btn {
    margin-top: 30px;
    float: left;
  }
  .hero-stats strong {
    font-size: 3rem;
  }
  /* Testimonial */
  .testimonial-content blockquote {
    --line-clamp: 3;
  }
  /* Feature 1 */
  .feature-container {
    gap: 0 60px;
  }
  .feature-media img:nth-child(2) {
    display: none;
  }
  .feature-heading {
    font-size: 3.5rem;
  }
  /* Blog */
  .blog-container {
    padding: 70px 0;
  }
  /* Footer */
  .footer-top {
    gap: 80px;
  }
}
/* Mobile */
@media screen and (max-width: 767.98px) {
  .btn {
    width: 100%;
  }
  .header .header-btn {
    display: none;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
  }
  .menu-drawer {
    padding: 30px;
  }
  .menu-drawer .nav-list {
    margin-top: 20px;
    gap: 20px 0;
  }
  .menu-drawer .header-btn {
    margin-top: 20px;
  }
  /* Hero */
  .hero-container {
    padding: 4px 0 60px;
  }
  .hero-media {
    display: none;
  }
  .hero-content {
    text-align: center;
  }
  .hero-heading {
    font-size: 4rem;
  }
  .hero-btn {
    margin-top: 25px;
    flex-direction: column;
  }
  .watch-btn {
    width: initial;
    margin: 10px auto 0;
  }
  .hero-engagement {
    margin-top: 20px;
  }
  /* Courses */
  .course-container {
    position: relative;
    padding: 0 0 80px 0;
  }
  .course-heading {
    font-size: 3.5rem;
    text-align: center;
  }
  .course-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 50px;
  }
  .course-nav a {
    width: 60px;
    height: 60px;
  }
  .course-text span {
    font-size: 1.5rem;
    text-align: center;
  }
  .course-list {
    margin-top: 35px;
  }
  .course-item-img img {
    width: 326px;
  }
  .course-booking {
    flex-direction: column;
    gap: 10px 0;
  }
  .course-price {
    margin-left: auto;
  }
  /* Testimonial */
  .testimonial-container {
    padding: 50px 0;
  }
  .testimonial-content {
    width: 100%;
  }
  .testimonial-item {
    flex-direction: column-reverse;
    gap: 20px 0;
    align-items: flex-start;
  }
  .testimonial-content blockquote {
    --line-clamp: 2;
  }
  .testimonial-user {
    max-width: 100%;
  }
  .user-icon {
    float: left;
    margin-left: 60px;
  }
  .user-name,
  .user-position,
  .testimonial-nav {
    float: right;
  }
  .testimonial-nav {
    margin-top: 60px;
  }
  /* Feature 1 */
  .feature-media {
    display: none;
  }
  .feature-heading {
    font-size: 3rem;
  }
  .feature-desc,
  .feature-heading,
  .feature-content span {
    text-align: center;
  }
  /* Feature 2 */
  .feature-media-2 {
    display: none;
  }
  .feature-2 .feature-content {
    width: 100%;
  }
  /* Blog */
  .blog-container {
    padding: 40px 0;
  }
  .blog-list {
    margin-top: 40px;
  }
  .blog-item img {
    width: 327px;
  }
  /* Footer */
  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}
